/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Dec-2014, 17:51:05
    Author     : ug00002
*/
#game canvas, #game canvas:focus, #game canvas:hover {
  outline: none;
  border: none;
}

#game {
  cursor: default;
}

body {
  background-color: #131313 !important; 
}

.emptySpace {
  height: 10px;
}

.floating {
  float: left;
}

#buttons {
  padding-left: 70px;
}

h1 {
  color: grey !important;
  text-align: center;
}

#bodyContainer {
  color: #C8C8C8;
}

.container-fluid {
  position: relative;
}

#footer {
  background: #f8f8f8;
  height: 60px; 
  margin-top: 1.2em;
  padding-top: 10px;
}

.topBottomMargin {
  margin-top: 10px;
  text-align: center;
}

#responsesContainer {
  height: 200px;
  overflow-y: scroll;
  display: block;
}

#messagerContainer {
  background: #ffffff;
  color: #333;
  margin: 0 1em;
}

#messagerContainer > form {
  width: 100%;
}

#messageUI {
  height: 200px;
  
  // Flexbox display stuff.
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

#userList {
  border-left: solid #131313 2px;
  min-width: 80px;
  overflow: scroll;
  padding-left: 0.5em;
  
  // flexbox
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 15%;
  -ms-flex: 0 1 15%;
  flex: 0 1 15%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

#messager {
  margin: 0 1em;
  overflow: scroll;
  
  // flexbox
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

#messageForm {
  // Flexbox display stuff.
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

#messageForm > input {
  // flexbox
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 9 1 auto;
  -ms-flex: 9 1 auto;
  flex: 9 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

#messageForm > button {
  max-width: 80px;
  // flexbox
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.messageBody {
  margin-left: 0.8em;
  word-wrap: break-word;
}

.messageBody time {
  float: right;
}

.user {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.selectedUser > .user {
  color: #428BCA;
}

.challengedUser > .user {
  color: #4DBC45;
}

.userInGame > .user {
  color: #AF2E34;
}

.challengedBy > .user {
  color: #CD9456;
}

.gameInfo {
  text-align: center;
}